<div class="mb-2">
  <div class="col">
    <h2>Mountainbiking</h2>
    <p>I was able to borrow a bike from a friend to give it a try. Even though that one was old,
      heavy, and way too small, I immediately fell in love with the sport.
      Now I've been riding bikes for over six years, made new friends because of it, and convinced
      old friends to give it a try.
      I started out with a cross-country bike from Giant but quickly realised
      that I much prefer gravity riding. So, I sold my Giant and bought two new bikes: an Enduro
      and a Downhill bike.
      I started riding almost daily and progressing fast.
      These days I don’t have that much free time anymore, but I still try to get out as often as possible.</p>
  </div>
  <div class="d-flex justify-content-end col">
    <img src="assets/images/morzine.jpg" alt="Top of Champery group picture" width="300">
  </div>
</div>
<hr />
<div class="mb-2">
  <div class="col">
    <iframe class="pe-3" style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/67BxzMELTSYoS9UYfFJ7IN?utm_source=generator&theme=0" width="100%"
      height="352" frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="col">
    <h2>Music</h2>
    <p>
      I grew up in a very musical family. Both of my parents play instruments, and my sister played violin in an orchestra for a while. My dad plays bass, and my mother plays the piano.  
      I even tried learning piano and guitar, but I never stuck with it. However, my love for music in all its forms stayed with me.  
      
      Growing up with a bassist who listens to alternative and nu-metal, and a classical pianist, has shaped much of my musical taste.  
    </p>
    <p>
      These days, I mainly listen to metalcore and deathcore, but I still have a deep appreciation for old-school rap and blues.
      Which is evident by my playlist "Weird mix" that fully represents my listening habbits.
    </p> 
    <p>
      One thing is certain – if there’s an underground metal show in Bern, you’ll probably find me somewhere in the mosh pit.
    </p>
  </div>
</div>
<hr />
<div class="row mb-2">
  <div class="col-lg-4 col-sm-12 align-items-center justify-content-center border ps-1">
    @if (currentAareGuru) {
      Aare at {{ currentAareGuru.aare.timestring }}: {{ currentAareGuru.aare.temperature }}°C water, {{currentAareGuru.weather.current.tt }}°C air
      <br class="mb-2" />
      {{ currentAareGuru.aare.temperature_text }}
    } @else {
      <p>Aare state: Unknown</p>
    }
  </div>
  <div class="col-lg-8 col-sm-12 ps-3">
    <h2>Swimming</h2>
    <p>
      Having lived in multiple different locations, one thing that keeps pulling me back to Bern
      is the Aare. The Aare snakes down from the Bernese Highlands to Bern and finally ends in lake
      Bienne. In a way connecting where I was born to where I choose to live now. If I'm not busy or
      on my bike you'll often find me somewhere close to the riverbed enjoying nature, grilling or getting
      ready to take a refreshing plunge. The current Aare temperature in Bern is updated live on the right.
    </p>
  </div>
</div>