<h2 class="mb-2">Work Experience</h2>
<div class="row about-gap">
  <div class="col-lg-4 col-sm-12">
    <img src="assets/images/axa.png" alt="AXA Logo">
  </div>
  <div class="col-lg-8 col-sm-12">
    <h2>Requirements Engineer</h2>
    <p>
      Werkstudent Requirements Engineer at AXA Insurance <br/>
      April 2024 - Dezember 2024
    </p>
      <ul>
        <li>Stakeholder management for SAP CRM and Brokerportal</li>
        <li>Requirements definition and refining</li>
        <li>User Acceptance Testing</li>
      </ul>
  </div>
</div>
<div class="row about-gap">
  <div class="col-lg-4 col-sm-12">
    <img src="assets/images/BFH.png" alt="BFH Logo" width="204">
  </div>
  <div class="col-lg-8 col-sm-12">
    <h2>IT Support and Data Officer</h2>
    <p>
      Werkstudent Onsite-Support and Data Officer <br/>
      August 2022 - March 2024
    </p>
    <ul>
      <li>2nd and 3rd level IT Support for staff and students</li>
      <li>Ensuring quality and stability of onsite IT Systems</li>
      <li>Ensuring data quality in the BFH CRM</li>
    </ul>
  </div>
</div>
<div class="row about-gap">
  <div class="col-lg-4 col-sm-12">
    <img src="assets/images/SBB.png" alt="SBB Logo" width="204">
  </div>
  <div class="col-lg-8 col-sm-12">
    <h2>Intern Project Management Office</h2>
    <p>
      Intern Project Management <br/>
      June 2021 - July 2024
    </p>
    <ul> 
      <li>Assist in quarterly project reports</li>
      <li>Assist in digitizing project portfolios</li>
      <li>Meeting notes and minutes in country wide management meetings</li>
    </ul>
  </div>
</div>
<hr />
<h2 class="mb-2">Education</h2>
<div class="row about-gap">
  <div class="col-lg-8 col-sm-12">
    <h2>Bern University of Applied Sciences</h2>
    <p>
      Bachelor "Wirtschaftsinformatik", Business IT <br/>
      August 2022 - August 2026
    </p>
    <p>Major in Project Management and Agility<br/>Minor in Software Architecture & Design </p>
  </div>
  <div class="col-lg-4 col-sm-12">
    <img src="assets/images/BFH.png" alt="BFH Logo" width="204">
  </div>
</div>
<div class="row about-gap">
  <div class="col-lg-8 col-sm-12">
    <h2>Fachmittelschule Neufeld</h2>
    <p>
      Fachmaturität Gesundheit <br/>
      September 2017 - August 2021
    </p>
    <p>Specialised Baccalaureate in Healthcare</p>
  </div>
  <div class="col-lg-4 col-sm-12">
    <img src="assets/images/FMS.png" alt="FMS Logo" width="204">
  </div>
</div>