<div class="d-flex flex-row mb-2">
  <div class="col-3">
    <img src="assets/images/Selenium.png" alt="Selenium Logo">
  </div>
  <div class="col-9">
    <h2>Selenium</h2>
    <p>
    As a requirements engineer, I've observed how the lack of automated testing can challenge small 
    development teams and affect software quality. This led me to explore <strong>Selenium</strong>, 
    an open-source tool for browser automation. While my experience is limited, experimenting 
    with Selenium has sparked my interest in learning more about automated testing 
    and its potential to enhance project efficiency and reliability.
    </p>
  </div>
</div>
<hr />
<div class="d-flex flex-row mb-2">
  <div class="col">
    <h2>Ludicity</h2>
    <p>
      is a blog written by Nikhil Suresh – a software developer, data scientist, and 
      director of his own company. I first discovered his blog through the viral post 
      <a href="https://ludic.mataroa.blog/blog/i-will-fucking-piledrive-you-if-you-mention-ai-again/">"I Will Fucking Piledrive You If You Mention AI Again."</a>
      In this entry, he delves into his views 
      on the AI hype, corporate grifters, and his experiences as a data scientist. 
      While I don’t fully agree with all of his perspectives, his engaging writing style, industry insights, 
      and humour make for an entertaining and thought-provoking read.  
    </p>
    <p>
      He also has some interesting thoughts about agile organisational development which he shares
      in another entry called <a href="https://ludic.mataroa.blog/blog/i-will-fucking-haymaker-you-if-you-mention-agile-again/">"I Will Fucking Haymaker You If You Mention Agile Again"</a>
      This was one of the first times that I saw what consequences seemingly minor choices, such as 
      choosing to have a Daily meeting, can have. 
    </p>
    <p> 
      Since then, he has posted a few more entries, but he remains busy running his newly founded company, 
      <a href="https://www.hermit-tech.com/">Hermit Tech</a>. I still revisit some of his posts for both entertainment and valuable 
      insights into the inner workings of big tech companies.  
    </p>
    
  </div>
  <div class="d-flex justify-content-end col">
    <img src="assets/images/Hermit_Tech.png" alt="Hermit Tech Logo" width="200">
  </div>
</div>