<div class="overlay"></div>
<div class="loading-overlay" *ngIf="!appLoaded"></div>

<!-- Name in Center During Intro -->
<div class="name-container" 
     [class.fade-out]="fadeOut" 
     [class.move-to-top]="moveToTop">
  <h1 class="name">
    <span class="first-name">{{ firstName }}</span>
    <span class="last-name">{{ lastName }}</span>
  </h1>
</div>

<!-- Top Banner (Always Visible) -->
<div class="slide-top-banner" [class.show]="moveToTop">
  <div class="banner-content">
    <div class="name-container move-to-top">
      <h1 class="name">
        <span class="first-name">{{ firstName }}</span>
        <span class="last-name">{{ lastName }}</span>
      </h1>
    </div>
    <a href="mailto:iljafurer@pm.me" class="email-button">
      Let's Talk
    </a>
  </div>
</div>

<!-- Sliding Panels (Hidden When Hobbies or Projects Section is Active) -->
<div class="container" *ngIf="!showHobbies && !showProjects">
  <div class="slide-left" [class.show]="moveToTop">
    <div class="content">
      <h1 class="left-heading">About Me</h1>
      <p>
        Born in the year 2000 I grew up living  Switzerland and even outside it for a while.
        I've learned a lot in my short time here and am always striving to be the best version of myself. 
        These are a few highlights of my education so far.<br/>
        <br/>
      </p>
    <div>
      <h2 class="left-heading">Work</h2>
    </div>
    </div>
  </div>

  <div class="slide-right-top" 
  [class.show]="moveToTop"
  (click)="onSlideRightTopClick()">
<div class="content">
 <h1 class="left-heading">Hobbies</h1>
 <app-random-image></app-random-image>
</div>
</div>


  <div class="slide-right-bottom" 
       [class.show]="moveToTop"
       (click)="onSlideRightBottomClick()">
    <div class="content">
      <h1 class="left-heading">Projects</h1>
      <p>Check out some of my recent work showcasing modern web applications.</p>
    </div>
  </div>
</div>

<!-- Hobbies Section -->
<div class="container-hobbies" *ngIf="showHobbies">
  <div class="content hobbies-flex">
    <div class="text-content">
      <h1 class="headings">Mountainbiking</h1>
      <p class="paragraph-content">
        I was able to borrow a bike from a friend to give it a try. Even though that one was old, 
        heavy, and way too small, I immediately fell in love with the sport. 
        Now I've been riding bikes for over six years, made new friends because of it, and convinced 
        old friends to give it a try.
        I started out with a cross-country bike from Giant but quickly realised 
        that I much prefer gravity riding. So, I sold my Giant and bought two new bikes: an Enduro 
        and a Downhill bike.
        I started riding almost daily and progressing fast. 
        These days I don’t have that much free time anymore, but I still try to get out as often as possible.
        <br/>
        The picture here is our friend group's first time riding in Champéry.
      </p>
      
      <div>
        <p class="paragraph-content">
          Shortly after I started riding, I discovered the professional Downhill scene. 
          Governed by the Union Cycliste Internationale (International Cycling Union), the best riders 
          compete in 10 races across the globe to determine the fastest. Additionally, the top riders from each 
          country are selected for the World Championship—a one-race, winner-takes-all competition.
      </p>
      
      <p>
          This year, Switzerland will host two events: a World Series round in Lenzerheide and the World Championships 
          in Valais. The legendary Downhill track in Champéry will return to the spotlight after a 15-year hiatus, 
          welcoming the world's best riders. I am immensely looking forward to both events.
        </p>
      </div>
    </div>
    
    <div class="image-content">
      <img src="assets/images/morzine.jpg" alt="Mountainbiking in Champéry" />
    </div>
    
    <h1 class="headings">Swimming</h1>
      <p class="paragraph-content">
        Having lived in multiple different locations, one thing that keeps pulling me back to Bern 
        is the Aare. The Aare snakes down from the Bernese Highlands to Bern and finally ends in lake
        Bienne. In a way connecting where I was born to where I choose to live now. If I'm not busy or
        on my bike you'll often find me somewhere close to the riverbed enjoying nature, grilling or getting
        ready to take a refreshing plunge. The current Aare temperature in Bern is updated live on the left.
       </p>

    <h1 class="headings">Music</h1>
      <p class="paragraph-content">
        

      </p>

    <button class="back-button" (click)="closeHobbies()">Back</button>
  </div>
</div>



<!-- Projects Section -->
<div class="container-projects" *ngIf="showProjects">
  <div class="content">
    <h2>My Projects</h2>
    <p>Details about various projects will be listed here.</p>
    <a href="javascript:void(0)" class="back-button" (click)="closeProjects()">Back</a>
  </div>
</div>
