@keyframes intro-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

#overlay {
  animation-name: intro-animation;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(.05,.03,.33,-0.21);
}

#slider {
  animation-name: slider;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  background-color: black;

  /* Display above overlay */
  z-index: 991;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  overlay: auto;

  /* Display above all, but below Bootstrap Z-index */
  z-index: 990;
}