<div class="overlay"></div>

<!-- Centered Name -->
<div
  class="name-container"
  [class.fade-out]="fadeOut"
  [class.move-to-top]="moveToTop"
>
  <h1 class="name">
    <span class="first-name">{{ firstName }}</span>
    <span class="last-name">{{ lastName }}</span>
  </h1>
</div>

<!-- Sliding Divs -->
<div class="container">
  <div class="slide-left" [class.show]="moveToTop">
    <div class="content">
      <h1 class = "left-heading">About Me</h1>
      <p>
        Hey, ich heisse Ilja. <br>
        a Requirements Engineer<br>

      </p>
    </div>
  </div>
  <div class="slide-right-top" [class.show]="moveToTop">
    <div class="content">
      <h2>Hobbies</h2>
      <ul>
        <li>too many to list</li>
      </ul>
    </div>
  </div>
  <div class="slide-right-bottom" [class.show]="moveToTop">
    <div class="content">
      <h2>Projects</h2>
      <p>Check out some of my recent work showcasing modern web applications.</p>
      <button class="projects-btn">View Projects</button>
    </div>
  </div>
  <div class="slide-top-banner" [class.show]="moveToTop">
    <div>
      <a href="mailto:iljafurer@pm.me" class = "email-button">
        Let's Talk
      </a>
    </div>
  </div>
</div>
