<div class="row">
  <div class="col-md-8 row-gap-4">
    <app-about />
  </div>
  <div class="col-md-4">
    <div class="row mb-4 position-relative">
        <h2>Hobbies</h2>
        <app-random-image class="mb-2" [possibleImages]="[
            'assets/images/aare_guru.jpg',
            'assets/images/UCI_DH.png',
            'assets/images/spotify.png'
          ]" />
        <a routerLink="/hobbies" class="btn btn-secondary stretched-link">See more</a>
    </div>
    <div class="row position-relative">
      <h2>Interests</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora autem incidunt, neque corporis perspiciatis assumenda provident et corrupti laborum debitis, nesciunt nihil earum laboriosam omnis saepe sequi error pariatur totam.</p>
      <a routerLink="/interests" class="btn btn-secondary">Read more</a>
    </div>
  </div>
</div>