<div class="row">
  <div class="col-md-8 row-gap-4">
    <app-about />
  </div>
  <div class="col-md-4">
    <div class="row mb-4 position-relative">
      <h2>Hobbies</h2>
      <app-random-image class="mb-2" [possibleImages]="[
            'assets/images/aare_guru.jpg',
            'assets/images/UCI_DH.png',
            'assets/images/spotify.png'
          ]" />
      <a routerLink="/hobbies" class="btn btn-secondary stretched-link">See more</a>
    </div>
    <div class="row position-relative">
      <h2>Interests</h2>
      <p>
        Being a working student allows me to combine knowledge from both the classroom and the workplace. 
        This dual perspective enables me to explore topics from multiple angles—first as a student and then through a more practical, economical lens. 
        It helps me develop a holistic understanding of various subjects, allowing me to see beyond a simple black-and-white approach.
    </p>
    <p>
        In my profession, I am interested in exploring new and innovative ways of gathering and documenting requirements. 
        With my studies and major, I am also keen to integrate these approaches with organizational psychology, seeking methods to optimize outcomes for both myself and the company.
    </p>    
      <a routerLink="/interests" class="btn btn-secondary">Read more</a>
    </div>
  </div>
</div>